<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Où est Chen ? - RAVENS</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/15181efa86.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
</head>

<body>
    <section class="container">
        <div class="columns is-multiline">
            <div class="column is-8 is-offset-2 has-text-centered">
                <div style="text-align:center;"><iframe
                        src="//v.calameo.com/?bkcode=002137837b5a1a6b63608&mode=viewer&view=book&showsharemenu=false&authid=pvz4ZkilpF8p"
                        width="900px" height="650px" frameborder="0" scrolling="yes" allowtransparency allowfullscreen
                        style="margin:0 auto;"></iframe>
                </div>
                <form action="/gotopage3" method="POST">
                    <label for="password">Qui a été informé des découvertes du professeur Chen ? <input type="text"
                            name="professorname" id="professorname"></label>
                    <button class="button is-primary" type="submit">Proposer</button>
                </form>
                <% if(typeof error !='undefined' ) {%>
                    <div class="notification is-danger p-3 has-text-centered">
                        <%= error %>
                    </div>
                    <% } %>
            </div>

            <div class="column is-8 is-offset-2">
                <br>
                <nav class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <a href="http://www.instagram.com/bde.epitech"><span class="icon">
                                    <i class="fab fa-instagram"></i>
                                </span> </a>&emsp;
                        </div>
                    </div>
                    <div class="level-right">
                        <small class="level-item" style="color: var(--textLight)">
                            &copy; Website created by &#160;<a href="http://github.com/SitpiRajendran">Sitpi
                                RAJENDRAN</a>&#160;with and for BDE Epitech Paris - RAVENS
                        </small>
                    </div>
                </nav>
            </div>
        </div>
    </section>
</body>
<style>
    :root {
        --brandColor: hsl(166, 67%, 51%);
        --background: rgb(247, 247, 247);
        --textDark: hsla(0, 0%, 0%, 0.66);
        --textLight: hsla(0, 0%, 0%, 0.33);
    }

    body {
        background: var(--background);
        height: 100vh;
        color: var(--textDark);
    }

    .field:not(:last-child) {
        margin-bottom: 1rem;
    }

    .register {
        margin-top: 10rem;
        background: white;
        border-radius: 10px;
    }

    .left,
    .right {
        padding: 4.5rem;
    }

    .left {
        border-right: 5px solid var(--background);
    }

    .left .title {
        font-weight: 800;
        letter-spacing: -2px;
    }

    .left .colored {
        color: var(--brandColor);
        font-weight: 500;
        margin-top: 1rem !important;
        letter-spacing: -1px;
    }

    .left p {
        color: var(--textLight);
        font-size: 1.15rem;
    }

    .right .title {
        font-weight: 800;
        letter-spacing: -1px;
    }

    .right .description {
        margin-top: 1rem;
        margin-bottom: 1rem !important;
        color: var(--textLight);
        font-size: 1.15rem;
    }

    .right small {
        color: var(--textLight);
    }

    input {
        font-size: 1rem;
    }

    input:focus {
        border-color: var(--brandColor) !important;
        box-shadow: 0 0 0 1px var(--brandColor) !important;
    }

    .fab,
    .fas {
        color: var(--textLight);
        margin-right: 1rem;
    }
</style>

</html>