<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Où est Chen ? - RAVENS</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/15181efa86.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <style>
        /*         malette {
            position: "absolute";
            z-index: 1;
        }

        phone {
            position: "absolute";
            z-index: 1;
            margin-left: 500;
            margin-top: 315;
        }

        quizz {
            position: "absolute";
            z-index: 2;
            margin-left: 285;
            margin-top: 185;
            transform: "rotate(56deg)";
        }

        badge {
            position: "absolute";
            z-index : 3;
            margin-left: 100;
            margin-top: 200;
        }
        paperContainer {
            position: "relative";
            width: 500px;
            height: 500px;
        }*/
        #bloc1,
        #bloc2,
        #bloc3,
        #bloc4 {
            position: absolute;
        }

        #bloc1 {
            left: 20%;
            top: 5%;
            z-index: 1;
        }

        #bloc2 {
            left: 52%;
            top: 37%;
            z-index: 2;
        }

        #bloc3 {
            left: 30%;
            top: 38%;
            z-index: 3;
            transform: rotate(56deg);
        }

        #bloc4 {
            left: 15%;
            top: 36%;
            z-index: 4;
        }

        .texteimg {
            border: 2px solid #5C3E3E;
            background-color: #f5e2c1;
        }
    
        .under {
            margin-top: 63%;
        }
    </style>
</head>

<body>
    <section class="container">
        <div class="columns is-multiline">
            <div class="column is-8 is-offset-2 register has-text-centered">
                <section class="section m-3" style="height: 620px;">
                    <div>
                        <div id="bloc1">
                            <img src="/img/malette.png" />
                        </div>
                        <div id="bloc2">
                            <img src="/img/Phone.png" height="80%" width="80%" id=""/>
                        </div>
                        <a href="/quizz">
                            <div id="bloc3">
                                <img src="/img/cartequiz1.png" height="30%" width="30%" id=""/>
                            </div>
                        </a>
                        <div id="bloc4">
                            <img src="/img/badges2.png" height="30%" width="30%" id=""
                                onclick="window.open(this.src)" />
                        </div>
                    </div>
                    <div class="columns under">
                        <div class="column"><a href="/img/badges2.png" class="button is-primary">Voir les badges</a></div>
                        <div class="column"><a href="/quizz" class="button is-primary">Voir le quizz</a></div>
                        <div class="column"><a href="/phone" class="button is-primary">Voir le téléphone</a></div>
                    </div>
                </section>
            </div>
            <div class="column is-8 is-offset-2">
                <br>
                <nav class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <a href="http://www.instagram.com/bde.epitech"><span class="icon">
                                    <i class="fab fa-instagram"></i>
                                </span> </a>&emsp;
                        </div>
                    </div>
                    <div class="level-right">
                        <small class="level-item" style="color: var(--textLight)">
                            &copy; Website created by &#160;<a href="http://github.com/SitpiRajendran">Sitpi
                                RAJENDRAN</a>&#160;with and for BDE Epitech Paris - RAVENS
                        </small>
                    </div>
                </nav>
            </div>
        </div>
    </section>
</body>
<style>
    :root {
        --brandColor: hsl(166, 67%, 51%);
        --background: rgb(247, 247, 247);
        --textDark: hsla(0, 0%, 0%, 0.66);
        --textLight: hsla(0, 0%, 0%, 0.33);
    }

    body {
        background: var(--background);
        height: 100vh;
        color: var(--textDark);
    }

    .field:not(:last-child) {
        margin-bottom: 1rem;
    }

    .register {
        margin-top: 3rem;
        background: white;
        border-radius: 10px;
    }

    .left,
    .right {
        padding: 4.5rem;
    }

    .left {
        border-right: 5px solid var(--background);
    }

    .left .title {
        font-weight: 800;
        letter-spacing: -2px;
    }

    .left .colored {
        color: var(--brandColor);
        font-weight: 500;
        margin-top: 1rem !important;
        letter-spacing: -1px;
    }

    .left p {
        color: var(--textLight);
        font-size: 1.15rem;
    }

    .right .title {
        font-weight: 800;
        letter-spacing: -1px;
    }

    .right .description {
        margin-top: 1rem;
        margin-bottom: 1rem !important;
        color: var(--textLight);
        font-size: 1.15rem;
    }

    .right small {
        color: var(--textLight);
    }

    input {
        font-size: 1rem;
    }

    input:focus {
        border-color: var(--brandColor) !important;
        box-shadow: 0 0 0 1px var(--brandColor) !important;
    }

    .fab,
    .fas {
        color: var(--textLight);
        margin-right: 1rem;
    }
</style>

</html>